*{
    color: white;
}

body{
    background-color: black;
}
.player-input-btn {
    height: 200px;
    width: 200px;
    font-size: 100px;
    background: none;
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 15px 0;

}


.reset-score-btn{
    background: none;
    border: 1px solid white;
    border-radius: 100px;
}


